{% load price_pro_lp %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Hello World</p>
    <table>
        <tr>
            <th>Type ID</th>
            <th>Item</th>
            <th>Corporation</th>
            <th>LP</th>
            <th>ISK</th>
            <th>Required Items</th>
            <th>Other Cost</th>
            <th>Item Quantity</th>
            <th>Item Price</th>
            <th>ISK / LP</th>

        </tr>
    {% for i in object_list %}
        <tr>
            <td>{{ i.type_id_id }}</td>
            <td>{{ i.type_id.name }}</td>
            <td>{{ i.corporation_id.name }}</td>
            <td>{{ i.lp_cost }}</td>
            <td>{{ i.isk_cost }}</td>
            <td>{{ i.required }}</td>
            <td>{{ i.material_cost }}</td>
            <td>{{ i.quantity }}</td>
            <td>{{ i.type_id.market_prices.adjusted_price|floatformat:2 }}</td>
            <td>{{ i|price_pro_lp|floatformat:2 }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>